<!DOCTYPE html>
<html>
<head>
    <title>Социальная сеть - Главная</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Главная</a></li>
                    <li><a href="{{ url_for('new_message') }}">Написать</a></li>
                    <li><a href="{{ url_for('messages') }}">Чаты</a></li>
                    <li><a href="{{ url_for('logout') }}">Выйти</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Добро пожаловать в Социальную сеть!</h1>
        <p>Начните общаться с другими пользователями, загружать фотографии и создавать свой профиль.</p>
    </main>

    <footer>
        <p>Copyright &copy; 2023</p>
    </footer>
</body>
</html>